//Скрипт ресурсов, созданный в Microsoft Visual C++.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Создано из ресурса TEXTINCLUDE 2.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "afxres.h"
#include "verrsrc.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#include ""afxres.h""\r\n"
    "#include ""verrsrc.h""\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "#define _AFX_NO_OLE_RESOURCES\r\n"
    "#define _AFX_NO_TRACKER_RESOURCES\r\n"
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
    "\r\n"
    "#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)\r\n"
    "LANGUAGE 25, 1\r\n"
    "#include ""res\\SDIApp.rc2""  // ресурсы, не редактируемые в Microsoft Visual C++\r\n"
    "#include ""l.RUS\\afxres.rc""      // Стандартные компоненты\r\n"
    "#include ""l.RUS\\afxprint.rc""    // ресурсы для печати/предварительного просмотра\r\n"
    "#endif\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Значок
//

// Значок с наименьшим значением идентификатора помещается первым, чтобы гарантировать использование
// идентичного значка приложения для всех систем.

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE 25, 1
IDR_MAINFRAME           ICON         "res\\SDIApp.ico"
IDR_SDIAppTYPE         ICON         "res\\SDIAppDoc.ico"
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Точечный рисунок
//

IDR_MAINFRAME           BITMAP                  "res\\Toolbar.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Панель инструментов
//

IDR_MAINFRAME TOOLBAR 16, 15
BEGIN
    BUTTON      ID_FILE_NEW
    BUTTON      ID_FILE_OPEN
    BUTTON      ID_FILE_SAVE
    SEPARATOR
    BUTTON      ID_EDIT_CUT
    BUTTON      ID_EDIT_COPY
    BUTTON      ID_EDIT_PASTE
    SEPARATOR
    BUTTON      ID_FILE_PRINT
    BUTTON      ID_APP_ABOUT
END


#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE 25, 1

/////////////////////////////////////////////////////////////////////////////
//
// Меню
//

IDR_MAINFRAME MENU
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "Созд&ать\tCtrl+N",                ID_FILE_NEW
        MENUITEM "&Открыть...\tCtrl+O",            ID_FILE_OPEN
        MENUITEM "Со&хранить\tCtrl+S",               ID_FILE_SAVE
        MENUITEM "Сохранить &как...",                 ID_FILE_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "&Печать...\tCtrl+P",           ID_FILE_PRINT
        MENUITEM "Пред&варительный просмотр",              ID_FILE_PRINT_PREVIEW
        MENUITEM "Нас&тройка печати...",             ID_FILE_PRINT_SETUP
        MENUITEM SEPARATOR
        MENUITEM "Последний файл",                 ID_FILE_MRU_FILE1,GRAYED
        MENUITEM SEPARATOR
        MENUITEM "В&ыход",                       ID_APP_EXIT
    END
    POPUP "&Правка"
    BEGIN
        MENUITEM "&Отменить\tCtrl+Z",               ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "&Вырезать\tCtrl+X",                ID_EDIT_CUT
        MENUITEM "&Копировать\tCtrl+C",               ID_EDIT_COPY
        MENUITEM "Вст&авить\tCtrl+V",              ID_EDIT_PASTE
    END
    POPUP "&Вид"
    BEGIN
        MENUITEM "&Панель инструментов",                    ID_VIEW_TOOLBAR
        MENUITEM "&Строка состояния",                 ID_VIEW_STATUS_BAR
    END
    POPUP "&Справка"
    BEGIN
        MENUITEM "&О проекте SDIApp...",          ID_APP_ABOUT
    END
END



/////////////////////////////////////////////////////////////////////////////
//
// Сочетание клавиш
//

IDR_MAINFRAME ACCELERATORS
BEGIN
    "N",            ID_FILE_NEW,            VIRTKEY,CONTROL
    "O",            ID_FILE_OPEN,           VIRTKEY,CONTROL
    "S",            ID_FILE_SAVE,           VIRTKEY,CONTROL
    "P",            ID_FILE_PRINT,          VIRTKEY,CONTROL
	"Z",            ID_EDIT_UNDO,           VIRTKEY,CONTROL
	"X",            ID_EDIT_CUT,            VIRTKEY,CONTROL
	"C",            ID_EDIT_COPY,           VIRTKEY,CONTROL
	"V",            ID_EDIT_PASTE,          VIRTKEY,CONTROL
    VK_BACK,        ID_EDIT_UNDO,           VIRTKEY,ALT
    VK_DELETE,      ID_EDIT_CUT,            VIRTKEY,SHIFT
    VK_INSERT,      ID_EDIT_COPY,           VIRTKEY,CONTROL
    VK_INSERT,      ID_EDIT_PASTE,          VIRTKEY,SHIFT
    VK_F6,          ID_NEXT_PANE,           VIRTKEY
    VK_F6,          ID_PREV_PANE,           VIRTKEY,SHIFT
END




/////////////////////////////////////////////////////////////////////////////
//
// Диалоговое окно
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "О проекте SDIApp"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDR_MAINFRAME,IDC_STATIC,14,14,21,20
    LTEXT           "SDIApp, версия 1.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2020",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "ОК",IDOK,113,41,50,14,WS_GROUP
END



/////////////////////////////////////////////////////////////////////////////
//
// Версия
//

VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       1,0,0,1
  PRODUCTVERSION    1,0,0,1
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904B0"
        BEGIN
            VALUE "CompanyName", "TODO: <Название организации>"
            VALUE "FileDescription", "SDIApp"
            VALUE "FileVersion",     "1.0.0.1"
            VALUE "InternalName",    "SDIApp.exe"
            VALUE "LegalCopyright", "TODO: (c) <Название организации>.  Все права защищены."
            VALUE "OriginalFilename","SDIApp.exe"
            VALUE "ProductName", "TODO: <Название продукта>"
            VALUE "ProductVersion",  "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0419, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Таблица строк
//

STRINGTABLE
BEGIN
    IDP_OLE_INIT_FAILED       "Не удалось выполнить инициализацию OLE.  Убедитесь в том, что используются правильные версии библиотек OLE."
END
STRINGTABLE
BEGIN
// В приложениях, предназначенных не для Mac, две дополнительные подстроки удаляются
  // содержит суффикс файла
    IDR_MAINFRAME           "SDIApp\n\nSDIApp\nSDIApp Files (*.tst)\n.tst\nSDIApp.Document\nSDIApp.Document"

END
STRINGTABLE
BEGIN
    AFX_IDS_APP_TITLE       "SDIApp"
    AFX_IDS_IDLEMESSAGE     "Готово"
END
STRINGTABLE
BEGIN
    ID_INDICATOR_EXT        "EXT"
    ID_INDICATOR_CAPS       "CAP"
    ID_INDICATOR_NUM        "NUM"
    ID_INDICATOR_SCRL       "SCRL"
    ID_INDICATOR_OVR        "OVR"
    ID_INDICATOR_REC        "REC"
END
STRINGTABLE
BEGIN
    ID_FILE_NEW             "Создание нового документа\nСоздать"
    ID_FILE_OPEN            "Открытие существующего документа\nОткрыть"
    ID_FILE_CLOSE           "Закрытие активного документа\nЗакрыть"
    ID_FILE_SAVE            "Сохранение активного документа\nСохранить"
    ID_FILE_SAVE_AS         "Сохранение активного документа под новым именем\nСохранить как"
    ID_FILE_PAGE_SETUP      "Изменение параметров печати\nПараметры страницы"
    ID_FILE_PRINT_SETUP     "Изменение принтера и параметров печати\nНастройка печати"
    ID_FILE_PRINT_DIRECT    "Печать активного документа с использованием текущих параметров\nБыстрая печать"
    ID_FILE_PRINT           "Печать активного документа\nПечать"
    ID_FILE_PRINT_PREVIEW   "Просмотр документа в полностраничном режиме\nПредварительный просмотр"
    ID_APP_ABOUT            "Вывод сведений о программе, ее версии и авторских правах\nО программе"
    ID_APP_EXIT             "Завершение работы приложения с запросом на сохранение документов\nВыход"
    ID_FILE_MRU_FILE1       "Открытие данного документа"
    ID_FILE_MRU_FILE2       "Открытие данного документа"
    ID_FILE_MRU_FILE3       "Открытие данного документа"
    ID_FILE_MRU_FILE4       "Открытие данного документа"
    ID_FILE_MRU_FILE5       "Открытие данного документа"
    ID_FILE_MRU_FILE6       "Открытие данного документа"
    ID_FILE_MRU_FILE7       "Открытие данного документа"
    ID_FILE_MRU_FILE8       "Открытие данного документа"
    ID_FILE_MRU_FILE9       "Открытие данного документа"
    ID_FILE_MRU_FILE10      "Открытие данного документа"
    ID_FILE_MRU_FILE11      "Открытие данного документа"
    ID_FILE_MRU_FILE12      "Открытие данного документа"
    ID_FILE_MRU_FILE13      "Открытие данного документа"
    ID_FILE_MRU_FILE14      "Открытие данного документа"
    ID_FILE_MRU_FILE15      "Открытие данного документа"
    ID_FILE_MRU_FILE16      "Открытие данного документа"
    ID_NEXT_PANE            "Переход к следующей области окна\nСледующая область"
    ID_PREV_PANE            "Возврат к предыдущей области окна\nПредыдущая область"
    ID_WINDOW_SPLIT         "Разделение активного окна на области\nРазделить"
    ID_EDIT_CLEAR           "Удаление выделенного фрагмента\nУдалить"
    ID_EDIT_CLEAR_ALL       "Полное удаление содержимого документа\nУдалить все"
    ID_EDIT_COPY            "Копирование выделенного фрагмента в буфер обмена\nКопировать"
    ID_EDIT_CUT             "Удаление выделенного фрагмента в буфер обмена\nВырезать"
    ID_EDIT_FIND            "Поиск указанного текста\nНайти"
    ID_EDIT_PASTE           "Вставка содержимого буфера обмена\nВставить"
    ID_EDIT_REPEAT          "Повторение последнего действия\nПовторить"
    ID_EDIT_REPLACE         "Замена заданного текста другим текстом\nЗаменить"
    ID_EDIT_SELECT_ALL      "Выделение всего документа\nВыделить все"
    ID_EDIT_UNDO            "Отмена последнего действия\nОтменить"
    ID_EDIT_REDO            "Повторное выполнение последнего отмененного действия\nВернуть"
    ID_VIEW_TOOLBAR         "Отображение или скрытие панели инструментов\nПанель инструментов"
    ID_VIEW_STATUS_BAR      "Показать или скрыть строку состояния\n Переключение строки состояния"
END

STRINGTABLE
BEGIN
    AFX_IDS_SCSIZE          "Изменение размера окна"
    AFX_IDS_SCMOVE          "Изменение положения окна"
    AFX_IDS_SCMINIMIZE      "Свертывание окна в значок"
    AFX_IDS_SCMAXIMIZE      "Развертывание окна до полного размера"
    AFX_IDS_SCNEXTWINDOW    "Переход к следующему окну документа"
    AFX_IDS_SCPREVWINDOW    "Переход к предыдущему окну документа"
    AFX_IDS_SCCLOSE         "Закрытие активного окна с запросом на сохранение документов"
    AFX_IDS_SCRESTORE       "Восстановление исходных размеров окна"
    AFX_IDS_SCTASKLIST      "Переход к списку задач"
    AFX_IDS_PREVIEW_CLOSE   "Выход из режима предварительного просмотра\nОтменить просмотр"
END


#endif

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Создано из ресурса TEXTINCLUDE 3.
//

#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE 25, 1
#include "res\\SDIApp.rc2"  // ресурсы, не редактируемые в Microsoft Visual C++
#include "l.RUS\\afxres.rc"      // Стандартные компоненты
#include "l.RUS\\afxprint.rc"  // ресурсы для печати/предварительного просмотра
#endif
#endif    // не APSTUDIO_INVOKED
